{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<html>
			<h1>New item of {{category.name}}</h1>

			<form action="#" method = "post">
				<div class="form-group">
				<label>Name:</label>
				<input type ="text" class="form-control" maxlength="100" name="name">
                 <label>Description:</label>
				<input type ="text" class="form-control" maxlength="1000" name="description">
               <!--     <label>category:</label>
				<input type ="text" class="form-control" maxlength="1000" name="category">-->
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Create</button>
				</div>
			</form>
</html>
{%endblock%}