
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<html>

<center><h1>Welcome to Catalog</h1></center>

<div class="row">


      <div class="col-sm-6">
              <h2>Categories</h2>
	{% for cat in category %}

    <br>

  			<a href='{{url_for("showCategory",category_name= cat.name) }}'> <h3>{{cat.name}}</h3> </a>


	{% endfor %}

    </div>




    <div class="col-sm-6" >
      <p>
     <h2>latest Items</h2>
        <br>
       {% for item in items:%}



  <h4>  {{item.name + " ( " + item.category.name + " ) "}}</h4>
        <br>


        {%endfor%}

        </p>
    </div>
</div>
</html>



{% endblock %}