<div class="container">
<div class="row top-menu" id="toprow" >
	<div class="col-md-6">

			<button class="btn" href="{{url_for('show_categories')}}"><i class="fa fa-home"></i> Home</button>

	</div>
	<div class="col-md-6 text-right">
		{%if 'username' not in session %}
		<a class="btn btn-primary"  href="{{url_for('login')}}">
  <i class="icon-refresh icon-spin"></i> Login</a>


		{% else %}
				<a class="btn btn-danger"  href="{{url_for('logout')}}">
						Logout
					<i class="icon-refresh icon-spin"></i></a>
{% endif %}
		
	</div>
</div>
</div>