<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('show_categories')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
		</a>
	</div>
	<div class="col-md-6 text-right">
		{%if 'username' not in session %}
					<p><a href="{{url_for('login')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Login in
		</a> </p>
		{% else %}
					<a href="{{url_for('logout')}}" class="user__nav">
						Logout
					</a>
{% endif %}
		
	</div>
</div>